
@import url(reset.css);

/* ===============================================
全体スタイル
=============================================== */
/* --- カラーコード --- */
$base: #333333;
$white:#fff;
$light:#aed052;

html {
  font-family: YakuHanJP,"Noto Sans JP", "Hiragino Kaku Gothic Pro", "Hiragino Sans", "游ゴシック体", YuGothic, "游ゴシック", Meiryo, sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 2px;
  color:$base;
}

.tac{
  text-align: center;
}

small{
  display: block;
  font-size: 14px;
  line-height: 1.6em;
}

img{
  width: 100%;
  vertical-align:top;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.spNone{
  display: block;
  @media (max-width: 767px) {
    display: none;
  }
}

.pcNone{
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1{
    max-width: 170px;
}

h2 {
  padding-bottom: 30px;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.4;
  strong{
    padding-bottom: 0.25em;
    font-size: 1.6em;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    display: block;
  }
  &.hor{
  padding-right: 0.3em;
  display: inline;
  }
}


/* ===============================================
header
=============================================== */
header{
    background: $light;
}
header .header-top .container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  justify-content: center;
  @media (max-width: 767px) {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
}

/* ===============================================
contents
=============================================== */
/* main */  
#form{
    section{
        /*background: #ededed;*/
        padding: 3rem 0rem;
        @media (max-width: 767px) {
            padding: 2rem 1rem;
        }
    }

    .form-text{
        max-width: 700px;
        margin: 0rem auto;
        line-height: 1.6rem;
        @media (max-width: 767px) {
            font-size: 0.9rem;
            line-height: 1.4rem;
        }
        .privacy{
            text-decoration: underline;
            &:hover{
                color:blue;
            }
        }
        &_thanks{
            text-align: center;
        }
        &_cv{
            background: #d93025;
            border-radius: 50px;
            padding: 1.5rem;
            font-size: 1rem;
            color: #fff;
            max-width: 380px;
            font-weight: bold;
            display: block;
            margin: 2rem auto 0.5rem;
            box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.15);
        }
        .attention{
            color: #d93025;
            font-weight: bold;
        }
    }


    .benefit{
        h2{
            color: #d93025;
            text-decoration: underline;
            margin-top: 2rem;
        }
    }
    

}
#form2511{
    section{
        /*background: #ededed;*/
        padding: 3rem 0rem;
        @media (max-width: 767px) {
            padding: 2rem 1rem;
        }
    }

    h2{
      color: #d93025;
      text-decoration: underline;
      &.thanks{
        color: #000;
        text-decoration: none;
      }
    }

    .form-text{
        max-width: 700px;
        margin: 0rem auto;
        line-height: 1.6rem;
        @media (max-width: 767px) {
            font-size: 0.9rem;
            line-height: 1.4rem;
            text-align: left;
        }
        .attention{
            color: #d93025;
        }
    }
    .margin{
      margin-top: 2rem;
      @media (max-width: 767px) {
        margin-top:1rem ;
      }
    }
    .open{
      background:#fffae0 ;
      max-width: 700px;
      margin: 2rem auto;
      padding: 1rem;
      @media (max-width: 767px) {
        margin-top: 1rem;
      }
      .margin{
        margin-top: 0.5rem;
      }
      strong{
        text-decoration: underline;
      }
    }

    

}

  form{
        max-width: 700px;
        margin: 0rem auto;
        line-height: 1.6rem;
    ul{
        li{
          padding: 0.5rem 0rem;
          &:first-child{
            padding-top: 0;
          }
        }
        .ttl{
            font-weight: bold;
        }
        .required{
            line-height: 1;
            font-size: 0.6rem;
            letter-spacing: 0.5em;
            color: #ffffff;
            margin-left: 1em;
            padding: 0.25em 0.5em 0.25em 1em;
            background: #ee0000;
        }
    }
    small{
      margin-top: 0.5rem;
      font-size: 12px;
    }
    .submit{
      background: #d93025;
      border-radius: 50px;
      padding: 1.5rem;
      font-size: 1rem;
      color: #fff;
      width: 100%;
      max-width: 300px;
      font-weight: bold;
      display: block;
      margin: 2rem auto 0.5rem;
      -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.15);
    }
  }

   .ttl + span,
   li input,
   li textarea,
   li select {
    width: 100%;
    line-height: 1.15;
    margin-top: 10px;
    padding: 15px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    cursor: pointer;
  }



/* ===============================================
footer
=============================================== */
footer{
    .copyright{
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        background-color: #000;
    }
    .map{
        iframe{
            width: 100%;
        }
    }
    ul.link{
        padding-top: 16px;
        padding-bottom: 16px;
        color: #fff;
        font-size: 13px;
        background-color: #4c4c4c;
        justify-content: center;
        li{
            padding-left: 30px;
            padding-right: 30px;
            border-right: 1px solid #fff;
            @media (max-width: 767px) {
                padding-left: 15px;
                padding-right: 15px;
            }
            &:last-child{
                border-right: unset;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}
