@charset "UTF-8";
@import url(reset.css);
@import url(classes.css);
/* ===============================================
全体スタイル
=============================================== */
/* --- カラーコード --- */
html {
  font-family: YakuHanJP, "Noto Sans JP", "Hiragino Kaku Gothic Pro", "Hiragino Sans", "游ゴシック体", YuGothic, "游ゴシック", Meiryo, sans-serif;
  font-feature-settings: "palt";
  font-size: 62.5%;
  letter-spacing: 2px;
  color: #333333;
  background: #f6f9e8;
}

.tac {
  text-align: center;
}

small {
  font-size: 1.3rem;
  display: block;
}

img {
  width: 100%;
  vertical-align: top;
}

.spNone {
  display: block;
}
@media (max-width: 767px) {
  .spNone {
    display: none;
  }
}

.pcNone {
  display: none;
}
@media (max-width: 767px) {
  .pcNone {
    display: block;
  }
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

/* --- 矢印 --- */
.arrow {
  position: relative;
  display: inline-block;
}
.arrow:before {
  content: "";
  width: 8px;
  height: 8px;
  border: 0px;
  border-top: solid 2px #333333;
  border-right: solid 2px #333333;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -10px;
}

/* --- アニメーション --- */
.poyopoyo {
  animation: poyopoyo 1.5s ease-out infinite;
}

@keyframes poyopoyo {
  0%, 40%, 60%, 80% {
    transform: scale(1);
  }
  50%, 70% {
    transform: scale(0.9);
  }
}
/* --- LINE友だち追加ボタン --- */
.line_btn {
  text-align: center;
  max-width: 370px;
  margin: 3rem auto 0rem;
}
@media (max-width: 767px) {
  .line_btn {
    padding: 0rem 2rem;
  }
}
.line_btn .text a {
  color: #333333;
  border-bottom: 1px solid;
  font-size: 1.4rem;
  display: block;
  padding-bottom: 0.5rem;
  max-width: 300px;
  margin: 1rem auto 0rem;
}

/* --- タイトル --- */
h2 {
  margin-bottom: 3rem;
}

/* --- swiper設定 --- */
.swiper {
  position: relative;
}

.swiper-navigation-wrapper {
  color: #fff;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 767px) {
  .swiper-navigation-wrapper {
    gap: 30px;
    bottom: 15px;
  }
}

.swiper-pagination-fraction {
  position: relative;
  bottom: 10px;
}
@media (max-width: 767px) {
  .swiper-pagination-fraction {
    bottom: 12px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  top: 0;
  bottom: 0;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 30px;
}
@media (max-width: 767px) {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 20px;
  }
}

/* ===============================================
header
=============================================== */
header {
  max-width: 490px;
  margin: 0 auto;
  background: #fff;
  font-size: 20px;
}

/* ===============================================
contents
=============================================== */
main {
  line-height: 1.5;
  max-width: 490px;
  margin: 0 auto;
  background: #fff;
  font-size: 20px;
}
@media (max-width: 767px) {
  main {
    padding-top: 15px;
  }
}
main .sectionInner {
  padding: 4rem 3rem;
}
@media (max-width: 767px) {
  main .sectionInner {
    padding: 4rem 2rem;
  }
}

/* --- aboutSec --- */
#aboutSec ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
#aboutSec ul li {
  border-radius: 5px;
  max-width: 210px;
  width: 100%;
  background: #f2f2f2;
  padding: 2rem;
}
@media (max-width: 767px) {
  #aboutSec ul li {
    max-width: 100%;
  }
}
#aboutSec ul li h3 {
  color: #a9c600;
  font-size: 1.8rem;
  margin: 0.5rem auto 0.5rem;
  line-height: 1.3em;
}
#aboutSec ul li i {
  max-width: 80px;
  display: block;
  margin: 0 auto;
}
#aboutSec ul li p {
  font-size: 1.3rem;
  line-height: 1.7em;
}

/* --- gallerySec --- */
#gallerySec small {
  margin-top: 2rem;
}

/* --- accessSec --- */
#accessSec {
  background: #aed052;
}
#accessSec p {
  line-height: 1.7em;
  margin: 0rem auto 2rem;
}

#lineSec {
  position: relative;
}
#lineSec h2 {
  margin-bottom: 0;
}
#lineSec .line_btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: calc(50% - 185px);
  padding-bottom: 3rem;
}

/* --- formSec --- */
#formSec {
  background: #ededed;
}
#formSec .sectionInner {
  padding: 3rem 3rem;
}
#formSec form .form-item {
  padding: 0rem 0rem 1rem;
  line-height: 1.6;
}
#formSec form .form-item:nth-child(3) {
  padding: 0;
}
#formSec form .form-item-text,
#formSec form .form-item textarea,
#formSec form .form-item select {
  display: block;
  background: #fff;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  line-height: 1.6;
}
#formSec form .req {
  background: #ee0000;
  color: #fff;
  font-size: 13px;
  padding: 0px 0.5rem;
  margin-left: 0.5rem;
}
#formSec form [type=submit] {
  display: block;
  margin: 3rem auto 1rem;
  font-weight: bold;
  padding: 2rem 6rem;
  background: #06c755;
  color: #fff;
  width: 100%;
}
@media (max-width: 767px) {
  #formSec form [type=submit] {
    padding: 2rem 4rem;
  }
}

/* --- thanksSec --- */
#thanksSec h2, #thanksSec p, #thanksSec small {
  line-height: 1.6;
}

/* ===============================================
footer
=============================================== */
footer {
  background: #aed052;
  font-size: 16px;
  font-weight: 400;
  max-width: 490px;
  margin: 0 auto;
}
footer .logo {
  width: 150px;
  margin: 0 auto;
}
footer .read_contents {
  padding: 4rem 4rem;
}
@media (max-width: 767px) {
  footer .read_contents {
    padding: 4rem 2rem;
  }
}
footer .read_contents .text {
  line-height: 1.6;
  font-size: 1.2rem;
}
footer a {
  color: #fff;
}
footer ul {
  background: #4c4c4c;
  color: #fff;
  font-size: 13px;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
footer ul li {
  padding: 0rem 0.5rem;
}
footer p.copy {
  background: #333333;
  padding: 1rem 0rem;
  color: #fff;
  font-size: 1rem;
}/*# sourceMappingURL=shared.css.map */