@charset "UTF-8";

/*=======================================
	breakpoint
=======================================*/
@mixin mq-down($breakpoint) {
	@media #{map-get($breakpoint-down, $breakpoint)} {
		@content;
	}
}
// max-width
$breakpoint-down: (
	"sm": "screen	and (max-width: 640px)",
	"md": "screen	and (max-width: 768px)",
	"lg": "screen	and (max-width: 820px)",
	"xl": "screen	and (max-width: 1024px)",
	"xxl": "screen	and (max-width: 1400px)",
) !default;

/*=======================================
	hover
=======================================*/
@mixin hover {
	@media (min-width: 769px) {
		@media (hover: hover) and (pointer: fine) {
			&:hover {
				@content;
			}
		}
		// for IE11
		@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
			&:hover {
				@content;
			}
		}
	}
}

/*=======================================
	中央配置
=======================================*/
@mixin center($direction) {
	//中央配置　※親要素に「position:relative;」入れる
	position: absolute;
	@if $direction==xy {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
	}
	@else if $direction==x {
			left: 50%;
			transform: translateX(-50%);
	}
	@else if $direction==y {
			top: 50%;
			transform: translateY(-50%);
	}
}

/*=======================================
	可変レスポンシブ
=======================================*/
/* PC */
@function vw-pc($size, $viewport: 1920) {
  $rate: calc(100 / $viewport);

  @return $rate * $size * 1vw;
}

/* TB */
@function vw-tab($size, $viewport: 768) {
  $rate: calc(100 / $viewport);

  @return $rate * $size * 1vw;
}

/* SP */
@function vw-sp($size, $viewport: 750) {
  $rate: calc(100 / $viewport);

  @return $rate * $size * 1vw;
}

/*=======================================
	ブラウザ別
=======================================*/
/* Safari */
@mixin safari {
  @at-root _::-webkit-full-page-media, _:future, :root & {
    @content;
  }
}

/* Firefox */
@mixin firefox {
  @-moz-document url-prefix() {
    @content;
	}
}
