@charset "UTF-8";
@import url(../../shared/css/reset.css);
/* ===============================================
全体スタイル
=============================================== */
/* --- カラーコード --- */
html {
  font-family: YakuHanJP, "Noto Sans JP", "Hiragino Kaku Gothic Pro", "Hiragino Sans", "游ゴシック体", YuGothic, "游ゴシック", Meiryo, sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 2px;
  color: #333333;
}

.tac {
  text-align: center;
}

small {
  display: block;
  font-size: 10px;
}

img {
  width: 100%;
  vertical-align: top;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.spNone {
  display: block;
}
@media (max-width: 767px) {
  .spNone {
    display: none;
  }
}

.pcNone {
  display: none;
}
@media (max-width: 767px) {
  .pcNone {
    display: block;
  }
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  max-width: 170px;
}

h2 {
  padding-bottom: 30px;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.4;
}
h2 strong {
  padding-bottom: 0.25em;
  font-size: 1.6em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: block;
}
h2.hor {
  padding-right: 0.3em;
  display: inline;
}

/* ===============================================
header
=============================================== */
header {
  background: #aed052;
}

header .header-top .container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  justify-content: center;
}
@media (max-width: 767px) {
  header .header-top .container {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
}

/* ===============================================
contents
=============================================== */
/* main */
#form section {
  /*background: #ededed;*/
  padding: 3rem 0rem;
}
@media (max-width: 767px) {
  #form section {
    padding: 2rem 1rem;
  }
}
#form .contact {
  background: #fff;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 20px;
}
@media (max-width: 767px) {
  #form .contact {
    border-radius: 10px;
  }
}
#form .contact ul {
  padding: 1rem 0rem;
}
@media (max-width: 767px) {
  #form .contact ul {
    padding: 1rem 1.5rem;
  }
}
#form .contact ul li {
  max-width: 600px;
  margin: 1.4rem auto 0;
}
@media (max-width: 767px) {
  #form .contact ul li {
    margin-top: 1.2rem;
  }
}
#form .contact ul li textarea {
  height: 7em;
  line-height: 1.5em;
}
#form .contact ul li [type=radio],
#form .contact ul li [type=checkbox] {
  background: inherit;
  border: inherit;
  border-radius: inherit;
  width: auto;
}
#form .contact ul li input.date {
  width: 4rem;
}
#form .contact ul li input.input {
  width: 35%;
}
@media (max-width: 767px) {
  #form .contact ul li input.input {
    width: 100%;
  }
}
#form .contact ul li small {
  display: block;
  margin-top: 0.6rem;
  line-height: 1.5em;
}
#form .contact ul .ttl {
  display: flex;
  align-items: center;
  font-weight: bold;
}
#form .contact ul .ttl + span {
  display: block;
}
#form .contact ul .required {
  line-height: 1;
  font-size: 0.8rem;
  color: #ffffff;
  margin-left: 1em;
  padding: 0.25em 0.5em 0.25em 0.5em;
  background: #ee0000;
}
#form .submit {
  padding: 1rem 0rem 2rem;
}
#form .btn {
  display: block;
  width: 100%;
  cursor: pointer;
  text-align: center;
  color: #fff;
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
  background-color: #eb6031;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.3rem;
  border: none;
}
@media (max-width: 767px) {
  #form .btn {
    width: 90%;
  }
}
#form .form-text {
  max-width: 700px;
  margin: 0rem auto;
  line-height: 1.6rem;
}
@media (max-width: 767px) {
  #form .form-text {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
#form .form-text .privacy {
  text-decoration: underline;
}
#form .form-text .privacy:hover {
  color: blue;
}
#form .form-text_thanks {
  text-align: center;
}
#form .radiocheck {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em 2em;
  border: none;
  margin-top: 1rem;
}
@media (max-width: 767px) {
  #form .radiocheck {
    gap: 0.7em 1em;
  }
}
#form .radiocheck label {
  display: flex;
  align-items: center;
  gap: 0 0.5em;
  position: relative;
  cursor: pointer;
}
#form .radiocheck label:before, #form .radiocheck label:has(:checked)::after {
  border-radius: 50%;
  content: "";
}
#form .radiocheck label:before {
  width: 25px;
  height: 25px;
  background-color: #ededed;
}
#form .radiocheck label:after {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: #2589d0;
}
#form .radiocheck input {
  display: none;
}

#form .ttl + span,
#form li input,
#form li textarea,
#form li select {
  width: 100%;
  line-height: 1.15;
  margin-top: 10px;
  padding: 15px;
  background: #ededed;
  border-radius: 3px;
  cursor: pointer;
}

/*テキストエリア 備考欄文字数制限*/
.TextareaWrapper {
  position: relative;
}

.CharCounter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #898989;
}

/* ===============================================
footer
=============================================== */
footer .copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  background-color: #000;
}
footer .map iframe {
  width: 100%;
}
footer ul.link {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff;
  font-size: 13px;
  background-color: #4c4c4c;
  justify-content: center;
}
footer ul.link li {
  padding-left: 30px;
  padding-right: 30px;
  border-right: 1px solid #fff;
}
@media (max-width: 767px) {
  footer ul.link li {
    padding-left: 15px;
    padding-right: 15px;
  }
}
footer ul.link li:last-child {
  border-right: unset;
}
footer ul.link li a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=shared.css.map */